.inboxContainer{
  height: 75px;
  font-weight: bold;
  padding-left: 350px;
  padding-top: 10px;
}
.chatContainer{
  height: 500px;
  overflow: scroll;
};

.msg-mine{
  color: black;
  background-color: #80cbc4;
  padding: 15px;
  border-radius: 7px;
  position: relative;
  width: fit-content;
  max-width: 300px;
};

.msg-other{
  color: black;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 7px;
  position: relative;
  width: fit-content;
};

.timeStamp{
    color: gray;
    font-size: 12px;
}
