<template name="Footer">
  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">UniFind</h5>
          <p class="grey-text text-lighten-4">An improved lost and found system for NUS students.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <ul>
            <li><a class="grey-text text-lighten-3" href="/about">About</a></li>
            <li><a class="grey-text text-lighten-3" href="/team">The Team</a></li>
            <li><a class="grey-text text-lighten-3" href="/contact">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2017 UniFind
        <!--<a class="grey-text text-lighten-4 right" href="#!">more links</a>-->
      </div>
    </div>
  </footer>
</template>
