<template name="TopNavbar">
  <nav class="teal">
    <div class="nav-wrapper paddingLeft">
      <a href="/" class="brand-logo paddingLeft">UniFind</a>
      <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
      <!--<a href="#" data-activates="mobile-menu2" class="button-collapse hide-on-large-only"><i class="material-icons">menu</i></a>-->
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/" class="hoverWhite white-text">Home</a></li>
        <li><a href="#!" class="dropdown-button hoverWhite white-text" data-activates="dropdown1">My Account<i class="material-icons right white-text">arrow_drop_down</i></a></li>
        <li><a href="/#!" class="dropdown-button hoverWhite white-text" data-activates="dropdown3">View My Posts<i class="material-icons right white-text">arrow_drop_down</i></a></li>
        <li><a href="/inbox" class="hoverWhite white-text">
          Inbox
          {{#if inboxNotificationCount}}
            <span class="badge red lighten-2 white-text">{{inboxNotificationCount}}</span>
          {{/if}}
        </a></li>
        <li><a href="/notifications" class="notification hoverWhite white-text">
          Notifications
          {{#if generalNotificationCount}}
            <span class="badge red lighten-2 white-text">{{generalNotificationCount}}</span>
          {{/if}}
        </a></li>
        <li><a href="/my-posts" class="waves-effect waves-light btn red lighten-1 hoverWhite white-text">Add Post</a></li>
      </ul>
    </div>
  </nav>

  <ul class="side-nav" id="mobile-menu">
    <li><a href="/">Home</a></li>
    <li><a class="dropdown-button" href="#!" data-activates="dropdown2">My Account<i class="material-icons right">arrow_drop_down</i></a></li>
    <li><a href="#!" class="dropdown-button" data-activates="dropdown4">View My Posts<i class="material-icons right">arrow_drop_down</i></a></li>
    <li><a href="/inbox">
      Inbox
      {{#if inboxNotificationCount}}
        <span class="badge red lighten-2 white-text">{{inboxNotificationCount}}</span>
      {{/if}}
    </a></li>
    <li><a href="/notifications" class='notification'>
      Notifications
      {{#if generalNotificationCount}}
        <span class="badge red lighten-2 white-text">{{generalNotificationCount}}</span>
      {{/if}}
    </a></li>
    <li><a href="/my-posts" class="waves-effect waves-light btn red lighten-1">Add Post</a></li>
  </ul>

  <ul id="dropdown1" class="dropdown-content">
    <!--<li><a href="/profile" class="grey-text text-darken-1 hoverWhite">Profile</a></li>-->
    <li><a href="/settings" class="grey-text text-darken-1 hoverWhite">Settings</a></li>
    <li class="divider"></li>
    <li><a href="/" class="logout grey-text text-darken-1 hoverWhite">Logout</a></li>
  </ul>

  <ul id="dropdown2" class="dropdown-content">
    <!--<li><a href="/profile" class="grey-text text-darken-1 hoverWhite">Profile</a></li>-->
    <li><a href="/settings" class="grey-text text-darken-1 hoverWhite">Settings</a></li>
    <li class="divider"></li>
    <li><a href="/" class="logout grey-text text-darken-1 hoverWhite">Logout</a></li>
  </ul>

  <ul id="dropdown3" class="dropdown-content">
    <li><a href="/view-posts-lost" class="grey-text text-darken-1 hoverWhite">Reported Lost Items</a></li>
    <li><a href="/view-posts-found" class="grey-text text-darken-1 hoverWhite">Reported Found Items</a></li>
  </ul>

  <ul id="dropdown4" class="dropdown-content">
    <li><a href="/view-posts-lost" class="grey-text text-darken-1 hoverWhite">Reported Lost Items</a></li>
    <li><a href="/view-posts-found" class="grey-text text-darken-1 hoverWhite">Reported Found Items</a></li>
  </ul>
</template>
