a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.paddingLeft {
  padding-left: 12px;
}

.hoverWhite {
  &:hover {
    color: white;
  };
}

.badge{
  border-radius: 25px;
}
