<template name="TopNavbarBeforeLogin">
  <div class="navbar-fixed">
    <nav class="teal">
      <div class="nav-wrapper paddingLeft">
        <a href="/" class="brand-logo paddingLeft">UniFind</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li>{{> loginButtons}}</li>
          <li><a href="/">Home</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Register</a></li>

        </ul>
      </div>
    </nav>
  </div>
</template>

<!-- class="waves-effect waves-light btn red accent-2" -->
